@font-face {
    font-family: 'Alameen-Demibold';
    src: url('../fonts/Alameen.ttf');
}

* {
    -primary-color: #33485d;
    -second-color: #f3970c;
    -success-color: #29CC41;
    -fx-font-family: Alameen-Demibold;
}

.root {
	-fx-background-color: -primary-color
}

.menu-bar {
	-fx-background-color: #30425d
}

JFXComboBox {
    -fx-prompt-text-fill: #CCC;
    -jfx-unfocus-color: #DDD;
    -jfx-focus-color: #EEE;
    -fx-text-fill: #FFF;
    -fx-cursor: hand;
}

.jfx-combo-box .cell {
    -fx-background-color: #30425d;
    -fx-text-fill: #FFF;
}

/* Start top part */

.hamburger StackPane { /* Menu icon */
    -fx-background-color: #FFF;
    -fx-cursor: hand
}

.combo-city {
	-fx-pref-width: 180px;
	-fx-pref-height: 40px;
	-fx-font-size: 18px;
}

.btn-close{ /* Close button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #FC5653;
    -fx-background-radius: 100%;
}
.btn-close:hover{
    -fx-cursor: hand;
    -fx-background-color: red;
    -fx-background-radius: 100%;
}

.btn-min{ /* Hide button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #29CC41;
    -fx-background-radius: 100%;
}
.btn-min:hover{
    -fx-cursor: hand;
    -fx-background-color: green;
    -fx-background-radius: 100%;
}

/* End top part */

/* Start content part */

.lbl-title {
    -fx-font-size: 20px;
    -fx-text-fill: -second-color;
}

.lbl-date-time {
	-fx-font-size: 32px;
	-fx-text-fill: #FFF;
}

.lbl-prayer-title {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-text-fill: -second-color;
}

.box-prayer {
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-background-radius: 5;
	-fx-padding: 5;
}

.lbl-prayer-name {
	-fx-font-size: 26px;
	-fx-text-fill: -second-color;
}

.lbl-prayer-time {
	-fx-font-size: 26px;
	-fx-text-fill: #FFF;
}

/* End content part */

/* Start settings part */

.settings {
    -fx-background-radius: 5;
    -fx-background-color: -primary-color;
}

.settings-header {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: -second-color;
}

.settings-header-title {
    -fx-font-size: 28px;
    -fx-text-fill: #FFF;
}

.settings-content-title {
    -fx-text-fill: -second-color;
    -fx-font-size: 22px;
}

.settings-content-txt {
    -fx-text-fill: #FFF;
    -fx-font-size: 20px;
}

.settings-content-tgl {
    -jfx-untoggle-color: #DDD;
    -jfx-toggle-color: -second-color;
}

.settings-content-combo {
    -fx-pref-width: 120px;
    -fx-pref-height: 30px;
    -fx-font-size: 20px;
}

.settings-content-icon {
    -fx-fill: #EEE
}

.settings-content-icon:hover {
    -fx-fill: -second-color;
    -fx-cursor: hand
}

/* End settings part */

/* Start adhan part */

.adhan-container {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: -success-color;
}

.adhan-title {
    -fx-font-size: 35px;
    -fx-text-fill: #EEE
}

.adhan-desc {
    -fx-font-size: 24px;
    -fx-fill: #EEE
}

/* End adhan part */